body {
    margin: 0;
}
.hero {
    background-color: #23475b;
    color: white;
    padding: 32px 15px;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
}
.grid-container {
    display: grid;  
    grid-template-columns: 70px 1fr 320px; /*70px 1fr 320px
    /* grid-template-areas: "badge title form"
                         ". description form"
                         ". countdow form"; */
    grid-gap: 10px;
}
.badge {
    grid-area: badge;
}

.badge img {
   width: 70px;
}


.title {
    grid-area: title; /*designacion del area a ocupar*/
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
}
.form {
    grid-area: form; /*designacion del area a ocupar*/
    align-items: center;
    background: rgba(255, 255, 255, .9);
    padding: 1.5em;
    border-radius: 10px;
    color: black;
}
.form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbdbe2;
    border-radius: 5px;
    box-sizing: border-box; /* evita que los elementos se salgan de la caja*/
    margin-bottom: 10px;
}
.form p {
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 1em;
}
.form button {
    background: #98ca3f;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    border-bottom: 4px solid #6d932b;
    display: inline-block;

}
.description {
    grid-area: description; /*designacion del area a ocupar*/
}
.countdown {
    grid-area: countdown; /*designacion del area a ocupar*/
}
.countdown p {
    grid-area: countdown; /*designacion del area a ocupar*/
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}   
.countdown span {
    font-size: 33px;
    font-weight: 300;
}

.countdown span:after {
    content: ":";
    display: inline-block;
    margin: 0 5px;
}
.countdown span:last-child:after { /*seudo clase avanzada para eliminar el ultimo hijo de un elemtno*/
    display: none;
}
p {
    margin: 0;
}